@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}
body.githubStyle{
    background-color: #0D1117;
    align-items: center;
}
body.mainStyle{
    height: 100vh;
    background-image: linear-gradient(135deg, #023a50, #280747);
    color: #333;
}
h1{
    font-size: 4.5rem;
}
h2{
    font-size: 2rem;
}
p, ul {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
ul {
    padding-left: 1rem;
}
.mainStyle .card{
    max-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 2rem;
    background-color: #dedede;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 5rem rgb(2, 102, 141);
}
.bioBox{
    max-height: 15rem;
}
.mainStyle .card .container {
    max-width:50%;
}
.mainStyle .container.hero{
    max-height: 95%;
    overflow: hidden;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainStyle .container img.vHero{
    height: 100%;
    width: auto;
    object-fit: cover;
}
.userIcon{
    width: 12rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #999;
    box-shadow: inset 0 2rem #333;
}
.userIcon img{
    width: 100%;
    object-fit: cover;
}

.bio p{
    padding-left: 1rem;
}