@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Ubuntu:wght@300;500;700&display=swap');

:root{
    --title-font:'Ubuntu', sans-serif;
    --body-font: 'Roboto', sans-serif;
    --clr-font-light: #ddd;
    --clr-darkblue: rgba(2,58,80, 1);
    --clr-darkpurple: rgba(40,7, 71, 1);
    --clr-yellow: rgba(210,131,37,1);
    --clr-blue: rgba(37,127,210, 1);
    --clr-red: rgba(193, 9, 64, 1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font);
    color: var(--clr-font-light)
}
body.mainStyle{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: linear-gradient(135deg, var(--clr-darkblue), var(--clr-darkpurple));
}

h1, h2, h3, h4, h5{
    font-family: var(--title-font);
}
h1{
    font-size: 8rem;
   
}
h2{
    font-size: 7rem;
}
h5{
    font-size: 1.05rem;
    font-weight: 300;
}
.frontContainer{
    width: 80%;
    position: relative;
    z-index: 100;
    @media screen and (max-width: 980px){
        width: 95%;
    }
}
.titleContainer{
    position: relative;
    height: 14rem;
    @media screen and (max-width: 980px){
        height: 9rem;
    }
    @media screen and (max-width: 450px){
        height: 7rem;
    }

    & h1, h2, h5{
        position: absolute;
        left: 0;
    }
    & h1{
        @media screen and (max-width: 980px){
            font-size: 5rem;
        }
        @media screen and (max-width: 450px){
            font-size: 4rem;
        }
    }

    & h2{
        top: 6.5rem;
        @media screen and (max-width: 980px){
            font-size: 4rem;
            top: 4.5rem;
        }
        @media screen and (max-width: 450px){
            font-size: 3rem;
            top: 3.5rem;
        }
    }
    & h5{
        top: 13.3rem;
        left: 0.5rem;
        @media screen and (max-width: 980px){
            font-size: 0.55rem;
            top: 8.5rem;
        }
        @media screen and (max-width: 450px){
            font-size: 0.4rem;
            top: 6.5rem;
        }
    }
}
.socials{
    margin: 2rem;
}
/*====== NAV CLASSES ====================*/
nav{
    position: absolute;
    z-index: 100;
    right:  20%;
    top: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transform: translateY(-50%);
    @media screen and (max-width: 750px){
        right: 2rem;
    }
}
nav button{
    background-color: transparent;
    border: none;
    font-family: var(--title-font);   
}
.boxButton{
    width: 6rem;
    aspect-ratio: 1/1;
    font-size: 1.5rem;
    border-radius: 1rem;
    color: var(--clr-font-light);
    @media screen and (max-width: 450px){
        width: 4rem;
        font-size: 1rem;
        border-radius: 0.5rem;
    }
}


/* =========  PARTICLE CLASSES ========= */
.particleContainer{
    position:absolute;
    height: 100%;
    width: 75%;
    right: 0;
}
.particle{
    position: absolute;
}
.box{
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
    position: absolute;
    transform: rotate(45deg);
}
.layer1{
    filter: blur(3px);
}
.layer2{
    filter: blur(2px);
}
.yellow{
    background-color: var(--clr-yellow);
}
.blue{
    background-color: var(--clr-blue);
}
.red{
    background-color: var(--clr-red);
}
.layer1{
    z-index: 20;
}
.layer2{
    z-index: 30;
}
.layer3{
    z-index: 40;
}
.float{
    bottom: 20%;
    animation: ease-out forwards float; */
}
.layer1.float{
    animation-duration: 60s;
}
.layer2.float{
    animation-duration: 45s;
}
.layer3.float{
    animation-duration: 20s;
}

/* =======  ANIMATIONS ==========*/
@keyframes float {
    from {
        bottom: -15%;
    }
    to{
        bottom: 120%;
    }
}

